.form-sign-in {
  float: right;
  input {
    @extend .font-gotham-book;
    background-color: white;
    font-size: 11px;
    color: #98938f;
    text-transform: uppercase;
    padding: 9px;
    border: none;
    outline: none;
    margin-left: 15px;
  }
  .btn-submit {
    margin: 0 110px 0 20px;
  }
}