.recipes {
  padding: 110px 100px 50px 100px;
  //background: url("../img/bg-smart.png");
  //background-size: cover;
  overflow: hidden;
}

.list-recipes {
  li {
    width: 33.33%;
    float: left;
    padding: 0 30px;
    margin-bottom: 45px;
    a {
      height: 356px;
      display: block;
      position: relative;
    }
    h2 {
      @extend .font-gotham-medium;
      position: absolute;
      bottom: 0;
      width: 100%;
      font-size: 21px;
      text-align: center;
      padding: 10px;
      color: white;
      text-decoration: none;
      background-color: #b2d234;
    }
  }
  .recipe1 a {
    background: url("../img/graphical-nav/503207881_BW.jpg") no-repeat 50% 50%;
    background-size: cover;
    &:hover {
      background: url("../img/graphical-nav/503207881.jpg") no-repeat 50% 50%;
      background-size: cover;
    }
  }
}

@media only screen and (max-width: 992px) {
  .recipes {
    padding: 32px 32px 50px 32px;;
  }
  .list-recipes li {
    width: 50%;
    padding: 0 22px;
  }
}

@media only screen and (max-width: 768px) {
  .recipes {
    padding: 10px 10px 20px 10px;;
  }
  .list-recipes li {
    padding: 0 5px;
    a {
      height: 200px;
    }
    h2 {
      font-size: 12px;
    }
  }
}