@import url(../fonts/fonts.css);
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.grid:after {
  content: "";
  display: table;
  clear: both; }

[class*='col-'] {
  float: left; }

.col-1-2 {
  width: 50%; }

.col-1-4 {
  width: 25%; }

.col-1-8 {
  width: 12.5%; }

[class*='col-'] {
  padding-right: 20px; }

[class*='col-']:last-of-type {
  padding-right: 0; }

@media all and (max-width: 768px) {
  .col-1-2 {
    width: 100%; }

  .col-1-4 {
    width: 50%; } }
.navigation {
  height: 105px;
  border-bottom: solid 10px #b2d234;
  box-sizing: content-box;
  position: relative; }

.block-form.open {
  background-color: white; }
  .block-form.open form {
    display: block; }

.block-form {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  width: 250px;
  background-color: transparent;
  padding-bottom: 10px;
  color: #005da4;
  top: 115px;
  left: 35px;
  text-align: center; }
  .block-form .header-block {
    position: relative;
    padding: 10px 30px;
    margin-bottom: 50px;
    background-color: #b2d234; }
    .block-form .header-block h4 {
      text-transform: uppercase;
      font-size: 16px; }
      .block-form .header-block h4 span {
        font-size: 14px;
        text-transform: none; }
    .block-form .header-block:after {
      position: absolute;
      content: "";
      bottom: -40px;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 40px 125px 0 125px;
      border-color: #b2d234 transparent transparent transparent; }
    .block-form .header-block:before {
      position: absolute;
      content: "";
      bottom: -60px;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 60px 125px 0 125px;
      border-color: #e7e7e8 transparent transparent transparent; }
  .block-form form {
    display: none;
    padding: 15px; }
    .block-form form input, .block-form form textarea {
      border: solid 1px #dfdfe0;
      padding: 10px;
      width: 100%;
      font-size: 11px;
      margin-bottom: 10px;
      /* Firefox 19+ */
      /* Firefox 18- */ }
      .block-form form input::-webkit-input-placeholder, .block-form form textarea::-webkit-input-placeholder {
        color: #cfcccb;
        text-transform: uppercase; }
      .block-form form input::-moz-placeholder, .block-form form textarea::-moz-placeholder {
        color: #cfcccb;
        text-transform: uppercase; }
      .block-form form input:-moz-placeholder, .block-form form textarea:-moz-placeholder {
        color: #cfcccb;
        text-transform: uppercase; }
      .block-form form input:-ms-input-placeholder, .block-form form textarea:-ms-input-placeholder {
        color: #cfcccb;
        text-transform: uppercase; }
    .block-form form button {
      font-size: 11px;
      margin-right: 8px;
      background-color: #b2d234;
      color: white;
      text-transform: uppercase;
      float: right;
      border: none;
      outline: none;
      height: 30px;
      position: relative; }
      .block-form form button:after {
        position: absolute;
        content: "";
        right: -8px;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 0 15px 8px;
        border-color: transparent transparent transparent #b2d234; }

.brand {
  position: relative;
  padding-left: 35px;
  float: left;
  height: 105px; }
  .brand img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }

nav {
  float: right;
  display: flex;
  align-items: center;
  height: 105px; }
  nav ul {
    margin: 0;
    padding: 0; }
    nav ul li {
      float: left; }
      nav ul li a {
        font-size: 14px;
        text-transform: uppercase;
        color: #847c78;
        display: block;
        padding: 8px 10px;
        margin: 0 15px;
        text-decoration: none; }
        nav ul li a:hover {
          color: #004c9a;
          border-color: #004c9a; }
        nav ul li a:not(:only-child):after {
          padding-left: 4px;
          content: 'd'; }
      nav ul li .btn-signin, nav ul li .btn-cart {
        padding: 8px 10px;
        border: solid 1px #a0a1a4; }
      nav ul li ul li a {
        padding: 15px;
        line-height: 20px;
        z-index: 1; }

@media only screen and (max-width: 1200px) {
  nav ul li a {
    padding: 8px 4px;
    margin: 0 6px; } }
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1; }
  .nav-dropdown li a {
    color: white;
    text-transform: none; }

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 105px;
  width: 105px; }

#nav-toggle {
  position: absolute;
  cursor: pointer;
  padding: 48px 32px; }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 8px;
    width: 45px;
    background: #d1d2d4;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out; }
  #nav-toggle span:before {
    top: -13px; }
  #nav-toggle span:after {
    bottom: -13px; }
  #nav-toggle.active span {
    background-color: transparent; }
    #nav-toggle.active span:before, #nav-toggle.active span:after {
      top: 0; }
    #nav-toggle.active span:before {
      transform: rotate(45deg); }
    #nav-toggle.active span:after {
      transform: rotate(-45deg); }

@media only screen and (min-width: 992px) {
  nav ul li .nav-dropdown {
    width: 100%;
    top: 115px;
    left: 0; }

  .nav-list {
    display: block !important; } }
.blue-line-header {
  background-color: #004376;
  overflow: hidden;
  display: block; }

@media only screen and (max-width: 992px) {
  nav ul li ul li {
    min-width: 190px; }

  .brand {
    height: 100px; }

  .navigation {
    height: 100px; }

  .nav-mobile {
    display: block; }

  nav {
    width: 100%; }
    nav ul {
      display: none; }
      nav ul li {
        float: none; }
        nav ul li a {
          padding: 15px;
          line-height: 20px; }
        nav ul li ul li a {
          padding-left: 30px; }

  .nav-list {
    width: 270px;
    background-color: white;
    position: absolute;
    top: 110px;
    right: 0;
    z-index: 1; }
    .nav-list li {
      border-bottom: solid 1px #c5c5c8; }
      .nav-list li a {
        font-size: 18px;
        margin: 0; }
      .nav-list li .btn-signin, .nav-list li .btn-cart {
        border: none;
        padding: 15px;
        background-color: #bcbdc0;
        color: white; }
    .nav-list .nav-dropdown {
      position: static;
      background-color: #004c9a; } }
@media only screen and (max-width: 768px) {
  .brand {
    height: 75px; }

  .navigation {
    height: 75px; }

  .nav-list {
    top: 85px; }

  #nav-toggle {
    padding: 35px 32px; } }
.bx-wrapper {
  margin: 0 auto; }

.slider .bx-viewport {
  left: 0;
  border: 0;
  box-shadow: none; }
.slider .slider-first-page img {
  width: 100%;
  height: auto; }
.slider .bx-pager {
  position: absolute;
  bottom: 60px; }
  .slider .bx-pager .bx-pager-link {
    width: 15px;
    height: 15px;
    border: solid 1px white;
    border-radius: 50%;
    background: transparent !important; }
  .slider .bx-pager .bx-pager-link.active {
    background-color: white !important; }
.slider .text-slide {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 850px;
  color: white; }
  .slider .text-slide h2 {
    font-size: 46px;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.75); }
  .slider .text-slide p {
    font-size: 21px;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.75); }

.form-sign-in {
  float: right; }
  .form-sign-in input {
    background-color: white;
    font-size: 11px;
    color: #98938f;
    text-transform: uppercase; }

.font-lato, .block-form form input, .block-form form textarea {
  font-family: 'Lato', helvetica, sans-serif;
  font-weight: normal;
  font-style: normal; }

.font-gotham-bold, .block-form form button, .slider .text-slide h2, .wrap-description .title, .arrow-button {
  font-family: 'Gotham', helvetica, sans-serif;
  font-weight: bold;
  font-style: normal; }

.font-gotham-book, nav ul, .slider .text-slide h2 span, .form-sign-in input, .wrap-description .sub-title {
  font-family: 'Gotham Book', helvetica, sans-serif;
  font-weight: normal;
  font-style: normal; }

.font-gotham-book-italic, .wrap-description .text-desctiption {
  font-family: 'Gotham Book', helvetica, sans-serif;
  font-weight: normal;
  font-style: italic; }

.font-gotham-medium-italic, .block-form .header-block h4 span, .nav-dropdown li a, .slider .text-slide p {
  font-family: 'Gotham', helvetica, sans-serif;
  font-weight: 500;
  font-style: italic; }

.font-gotham-medium, nav ul li a:hover {
  font-family: 'Gotham', helvetica, sans-serif;
  font-weight: 500;
  font-style: normal; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Gotham Book', helvetica, sans-serif;
  font-size: 16px; }

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, checkbox, input, textarea {
  padding: 0;
  margin: 0;
  list-style: none; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.container {
  width: 100%;
  margin: 0 auto; }
  @media only screen and (min-width: 1200px) {
    .container {
      width: 1140px; } }
  @media only screen and (max-width: 1200px) {
    .container {
      width: 970px; } }
  @media only screen and (max-width: 992px) {
    .container {
      width: 750px; } }
  @media only screen and (max-width: 768px) {
    .container {
      width: 100%;
      padding: 0 5px; } }

.social-bar {
  position: fixed;
  z-index: 2;
  right: 0px;
  top: 150px;
  background-color: #b2d234;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15); }
  .social-bar ul {
    padding: 5px 0; }
  .social-bar .twitter-link, .social-bar .facebook-link, .social-bar .youtube-link {
    width: 50px;
    height: 40px;
    display: block; }
  .social-bar .twitter-link {
    background: url("../img/icon-tritter.png") no-repeat 50% 50%; }
  .social-bar .facebook-link {
    background: url("../img/icon-facebook.png") no-repeat 50% 50%; }
  .social-bar .youtube-link {
    background: url("../img/icon-youtube.png") no-repeat 50% 50%; }

.description-product {
  background: url("../img/bg-smart.jpg");
  background-size: cover;
  padding: 60px 0; }

.compose-img {
  text-align: center;
  position: relative; }

.wrap-description {
  color: #004c9a; }
  .wrap-description .title {
    font-size: 36px; }
  .wrap-description .sub-title {
    font-size: 36px;
    margin-bottom: 60px; }
  .wrap-description .text-desctiption {
    font-size: 21px;
    margin-bottom: 60px; }

.arrow-button {
  line-height: 50px;
  color: white;
  background-color: #00aeef;
  position: relative;
  height: 50px;
  display: inline-block;
  text-decoration: none;
  padding: 0 15px;
  font-size: 18px; }
  .arrow-button:after {
    content: "";
    position: absolute;
    right: -15px;
    top: 0;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 15px;
    border-color: transparent transparent transparent #00afef; }

/*# sourceMappingURL=main.css.map */
