@import "../fonts/fonts.css";
@import "_grid.scss";
@import "_header.scss";
@import "_slider.scss";
@import "_forms.scss";
@import "_buttons.scss";
@import "_tips.scss";
@import "_recipes.scss";



.font-lato {
  font-family: 'Lato', helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.font-gotham-bold {
  font-family: 'Gotham', helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
}

.font-gotham-book {
  font-family: 'Gotham Book', helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.font-gotham-book-italic {
  font-family: 'Gotham Book', helvetica, sans-serif;
  font-weight: normal;
  font-style: italic;
}

.font-gotham-medium-italic {
  font-family: 'Gotham', helvetica, sans-serif;
  font-weight: 500;
  font-style: italic;
}

.font-gotham-medium {
  font-family: 'Gotham', helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Gotham Book', helvetica, sans-serif;
  font-size: 16px;
}

div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
  padding: 0;
  margin: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  @media only screen and (min-width: 1200px) {
    width: 1140px;
  }
  @media only screen and (max-width: 1200px) {
    width: 970px;
  }
  @media only screen and (max-width: 992px) {
    width: 750px;
  }
  @media only screen and (max-width: 768px) {
    width: 100%;
    padding: 0 5px;
  }
}

.social-bar {
  position: fixed;
  z-index: 2;
  right: 0px;
  top: 150px;
  background-color: #b2d234;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  ul {
    padding: 5px 0;
  }
  .twitter-link, .facebook-link, .youtube-link {
    width: 50px;
    height: 40px;
    display: block;
  }
  .twitter-link {
    background: url("../img/icon-tritter.png") no-repeat 50% 50%;
  }
  .facebook-link {
    background: url("../img/icon-facebook.png") no-repeat 50% 50%;
  }
  .youtube-link {
    background: url("../img/icon-youtube.png") no-repeat 50% 50%;
  }
}

.description-product {
  background: url("../img/bg-smart.jpg");
  background-size: cover;
  padding: 60px 0;
}

.compose-img {
  text-align: center;
  position: relative;
  img {
    max-width: 80%;
    height: auto;
  }
}


.wrap-description {
  color: #004c9a;
  padding-right: 150px;
  .title {
    @extend .font-gotham-bold;
    font-size: 36px;
    //color: #004c9a;
  }
  .sub-title {
    @extend .font-gotham-book;
    font-size: 36px;
    margin-bottom: 60px;

  }
  .text-desctiption {
    @extend .font-gotham-book-italic;
    font-size: 21px;
    margin-bottom: 60px;
  }
  @media only screen and (max-width: 992px) {
    padding-right: 40px;
    .title, .sub-title {
      font-size: 24px;
    }
    .text-desctiption {
      font-size: 14px;
      margin-bottom: 40px;
    }
    .sub-title {
      margin-bottom: 40px;
    }
  }
  @media only screen and (max-width: 768px) {
    padding-left: 40px;
    .text-desctiption {
      font-size: 14px;
      margin-bottom: 30px;
    }
    .sub-title {
      margin-bottom: 25px;
    }
    .arrow-button {
      font-size: 11px;
      height: 30px;
      line-height: 30px;
      &:after {
        border-width: 15px 0 15px 15px;
      }
    }
  }
}


.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bottom-graphical-nav {
  overflow: hidden;

  .col-1-4 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  //.wrap-item-menu {
  //  padding-top: 10px;
  //  padding-right: 10px;
  //}
  a {
    position: relative;
    height: 390px;
    width: 100%;
    display: block;
    text-decoration: none;
  }
  h3 {
    @extend .font-gotham-bold;
    font-size: 24px;
    color: white;
    background-color: #b2d234;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 55px;
    width: 100%;

  }
  .link-products {
    background: url("../img/graphical-nav/469460902_BW.jpg") 50% 50% no-repeat;
    background-size: cover;
    &:hover {
      background: url("../img/graphical-nav/469460902.jpg") 50% 50% no-repeat;
      background-size: cover;
    }
  }
  .link-resources {
    background: url("../img/graphical-nav/503207881_BW.jpg") 50% 50% no-repeat;
    background-size: cover;
    &:hover {
      background: url("../img/graphical-nav/503207881.jpg") 50% 50% no-repeat;
      background-size: cover;
    }
  }
  .link-faq {
    background: url("../img/graphical-nav/515157804_BW.jpg") 50% 50% no-repeat;
    background-size: cover;
    &:hover {
      background: url("../img/graphical-nav/515157804.jpg") 50% 50% no-repeat;
      background-size: cover;
    }
  }
  .link-why-myohealth {
    background: url("../img/graphical-nav/519159798_BW.jpg") 50% 50% no-repeat;
    background-size: cover;
    &:hover {
      background: url("../img/graphical-nav/519159798_BW.jpg") 50% 50% no-repeat;
      background-size: cover;
    }
  }
  @media only screen and (max-width: 992px) {
    a {
      height: 240px;
    }
    h3 {
      font-size: 16px;
      padding: 6px;
      bottom: 30px;
    }
  }
  @media only screen and (max-width: 768px) {
    h3 {
      font-size: 14px;
    }
  }
}

footer {
  overflow: hidden;
  font-size: 12px;
  color: #afaaa8;
  padding: 30px;

  .copyright {
    float: left;
  }
  .footer-link {
    color: #afaaa8;
    float: right;
    text-decoration: none;
    text-transform: uppercase;
  }
  @media only screen and (max-width: 768px) {
    text-align: center;
    .copyright, .footer-link {
      float: none;
      display: block;
    }
    .copyright {
      margin-bottom: 15px;
    }
  }
}








