@import "../fonts/fonts.css";
@import "_grid.scss";
@import "_header.scss";
@import "_slider.scss";
@import "_forms.scss";
@import "_buttons.scss";



.font-lato {
  font-family: 'Lato', helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.font-gotham-bold {
  font-family: 'Gotham', helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
}

.font-gotham-book {
  font-family: 'Gotham Book', helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.font-gotham-book-italic {
  font-family: 'Gotham Book', helvetica, sans-serif;
  font-weight: normal;
  font-style: italic;
}

.font-gotham-medium-italic {
  font-family: 'Gotham', helvetica, sans-serif;
  font-weight: 500;
  font-style: italic;
}

.font-gotham-medium {
  font-family: 'Gotham', helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Gotham Book', helvetica, sans-serif;
  font-size: 16px;
}

div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
  padding: 0;
  margin: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  @media only screen and (min-width: 1200px) {
    width: 1140px;
  }
  @media only screen and (max-width: 1200px) {
    width: 970px;
  }
  @media only screen and (max-width: 992px) {
    width: 750px;
  }
  @media only screen and (max-width: 768px) {
    width: 100%;
    padding: 0 5px;
  }
}

.social-bar {
  position: fixed;
  z-index: 2;
  right: 0px;
  top: 150px;
  background-color: #b2d234;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  ul {
    padding: 5px 0;
  }
  .twitter-link, .facebook-link, .youtube-link {
    width: 50px;
    height: 40px;
    display: block;
  }
  .twitter-link {
    background: url("../img/icon-tritter.png") no-repeat 50% 50%;
  }
  .facebook-link {
    background: url("../img/icon-facebook.png") no-repeat 50% 50%;
  }
  .youtube-link {
    background: url("../img/icon-youtube.png") no-repeat 50% 50%;
  }
}

.description-product {
  background: url("../img/bg-smart.jpg");
  background-size: cover;
  padding: 60px 0;
}

.compose-img {
  text-align: center;
  position: relative;
}


.wrap-description {
  color: #004c9a;
  .title {
    @extend .font-gotham-bold;
    font-size: 36px;
    //color: #004c9a;
  }
  .sub-title {
    @extend .font-gotham-book;
    font-size: 36px;
    margin-bottom: 60px;

  }
  .text-desctiption {
    @extend .font-gotham-book-italic;
    font-size: 21px;
    margin-bottom: 60px;
  }
}








