@import url(../fonts/fonts.css);
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.grid:after {
  content: "";
  display: table;
  clear: both; }

[class*='col-'] {
  float: left; }

.col-1-2 {
  width: 50%; }

.col-1-3 {
  width: 33.33%; }

.col-1-4 {
  width: 25%; }

.col-1-8 {
  width: 12.5%; }

[class*='col-'] {
  padding-right: 10px; }

[class*='col-']:last-of-type {
  padding-right: 0; }

@media all and (max-width: 992px) {
  .col-1-3 {
    width: 50%; } }
@media all and (max-width: 768px) {
  .col-1-2 {
    width: 100%; }

  .col-1-4 {
    width: 50%; }

  .col-1-4:nth-child(2n) {
    padding-right: 0; } }
.top-header {
  height: 115px;
  border-bottom: solid 10px #b2d234;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; }
  .top-header .logo {
    margin-left: 40px; }
  .top-header .mobile-button-menu {
    display: none;
    position: relative; }
  .top-header nav {
    display: block;
    z-index: 4; }
    .top-header nav ul {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .top-header nav ul li {
        margin: 0 10px; }
        .top-header nav ul li a {
          font-size: 14px;
          padding: 10px;
          text-decoration: none;
          color: #847c78;
          text-transform: uppercase; }
          .top-header nav ul li a:hover {
            color: #005da4;
            text-decoration: none; }
      .top-header nav ul .link-with-border {
        border: solid 1px #847c78; }
        .top-header nav ul .link-with-border:hover {
          border: solid 1px #005da4; }
    .top-header nav .sub-menu {
      display: none;
      position: absolute;
      bottom: -45px;
      width: 100%;
      left: 0;
      text-align: right; }
      .top-header nav .sub-menu li {
        display: inline-block; }
        .top-header nav .sub-menu li a {
          color: white;
          text-transform: none; }
          .top-header nav .sub-menu li a:hover {
            color: white; }

header .bottom-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 55px;
  background-color: #004376; }

#nav-toggle {
  cursor: pointer;
  padding: 48px 32px; }
  #nav-toggle span:before,
  #nav-toggle span:after {
    position: absolute; }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 8px;
    width: 45px;
    background: #d1d2d4;
    display: block;
    content: '';
    transition: all 300ms ease-in-out; }
  #nav-toggle span:before {
    top: 5px; }
  #nav-toggle span:after {
    bottom: 5px; }
  #nav-toggle.active span {
    background-color: transparent; }
    #nav-toggle.active span:before, #nav-toggle.active span:after {
      top: 15px; }
    #nav-toggle.active span:before {
      transform: rotate(45deg); }
    #nav-toggle.active span:after {
      transform: rotate(-45deg); }

@media only screen and (max-width: 1200px) {
  .top-header nav ul li {
    margin: 0px 5px; }
    .top-header nav ul li a {
      padding: 10px 5px; } }
@media only screen and (max-width: 992px) {
  header .top-header {
    height: 105px; }
    header .top-header .mobile-button-menu {
      display: block; }
    header .top-header nav {
      position: absolute;
      top: 105px;
      right: 0;
      width: 270px;
      background-color: white;
      display: none; }
      header .top-header nav ul {
        display: block; }
        header .top-header nav ul li {
          width: 100%;
          margin: 0; }
          header .top-header nav ul li:last-child a {
            border: none !important; }
          header .top-header nav ul li a {
            font-size: 18px;
            padding: 10px 15px;
            display: block;
            border-bottom: solid 1px #bcbdc0; }
          header .top-header nav ul li .link-with-border {
            background-color: #bcbdc0;
            border: none;
            color: white;
            border-bottom: solid 1px white; }
            header .top-header nav ul li .link-with-border:hover {
              border: none;
              border-bottom: solid 1px white; }
          header .top-header nav ul li .link-sub-menu.open:after, header .top-header nav ul li .link-sub-menu.open:before {
            background-color: #005da4; }
          header .top-header nav ul li .link-sub-menu {
            position: relative; }
            header .top-header nav ul li .link-sub-menu:after {
              content: "";
              position: absolute;
              right: 10px;
              top: 50%;
              width: 10px;
              height: 2px;
              background-color: #bcbdc0;
              display: block;
              transform: rotate(-45deg); }
            header .top-header nav ul li .link-sub-menu:before {
              content: "";
              position: absolute;
              right: 16px;
              top: 50%;
              width: 10px;
              height: 2px;
              background-color: #bcbdc0;
              display: block;
              transform: rotate(45deg); }
          header .top-header nav ul li .sub-menu {
            position: static;
            text-align: left; }
            header .top-header nav ul li .sub-menu li a {
              color: white;
              font-size: 14px;
              background-color: #005da4;
              border: none;
              padding: 15px; } }
@media only screen and (max-width: 768px) {
  header .top-header {
    height: 75px; }
    header .top-header .logo {
      margin-left: 20px; }
      header .top-header .logo img {
        width: 200px;
        height: auto; }
    header .top-header nav {
      top: 75px; }
      header .top-header nav ul li a {
        font-size: 11px; }
      header .top-header nav ul li .sub-menu li a {
        font-size: 11px; }
  header .bottom-header .social-bar {
    position: static;
    background: none;
    box-shadow: none; }
    header .bottom-header .social-bar ul {
      display: flex; }
    header .bottom-header .social-bar .twitter-link, header .bottom-header .social-bar .youtube-link {
      width: 30px;
      height: 30px;
      background-size: 50%; }
    header .bottom-header .social-bar .facebook-link {
      width: 30px;
      height: 30px;
      background-size: 35%; } }
.bx-wrapper {
  margin: 0 auto; }

.slider .bx-viewport {
  left: 0;
  border: 0;
  box-shadow: none; }
.slider .slider-first-page img {
  width: 100%;
  height: auto; }
.slider .slider-first-page li {
  overflow: hidden; }
.slider .bx-pager {
  position: absolute;
  bottom: 60px; }
  .slider .bx-pager .bx-pager-link {
    width: 15px;
    height: 15px;
    border: solid 1px white;
    border-radius: 50%;
    background: transparent !important; }
  .slider .bx-pager .bx-pager-link.active {
    background-color: white !important; }
.slider .text-slide {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 850px;
  max-width: 100%;
  color: white; }
  .slider .text-slide h2 {
    font-size: 46px;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.75); }
  .slider .text-slide p {
    font-size: 21px;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.75); }
@media only screen and (max-width: 992px) {
  .slider .text-slide h2 {
    font-size: 41px; } }
@media only screen and (max-width: 768px) {
  .slider .text-slide h2 {
    font-size: 26px; } }

.form-sign-in {
  float: right;
  display: none; }
  .form-sign-in input {
    background-color: white;
    font-size: 11px;
    color: #98938f;
    text-transform: uppercase;
    padding: 9px;
    border: none;
    outline: none;
    margin-left: 15px; }
  .form-sign-in .btn-submit {
    margin: 0 110px 0 20px; }

.form-sign-in.mobile-form-signin {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }
  .form-sign-in.mobile-form-signin input {
    width: 33%;
    margin: 2px; }
  .form-sign-in.mobile-form-signin .btn-submit {
    margin: 2px 15px 2px 2px;
    width: 33%; }

.block-form.open {
  background-color: white; }
  .block-form.open .header-block:before {
    display: block; }
  .block-form.open form {
    display: block; }

.block-form {
  cursor: pointer;
  position: absolute;
  z-index: 3;
  width: 250px;
  background-color: transparent;
  padding-bottom: 10px;
  color: #005da4;
  top: 0px;
  left: 35px;
  text-align: center; }
  .block-form .header-block {
    position: relative;
    padding: 10px 30px;
    margin-bottom: 50px;
    background-color: #b2d234; }
    .block-form .header-block h4 {
      text-transform: uppercase;
      font-size: 16px; }
      .block-form .header-block h4 span {
        font-size: 14px;
        text-transform: none; }
    .block-form .header-block:after {
      position: absolute;
      content: "";
      bottom: -40px;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 40px 125px 0 125px;
      border-color: #b2d234 transparent transparent transparent; }
    .block-form .header-block:before {
      position: absolute;
      display: none;
      content: "";
      bottom: -60px;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 60px 125px 0 125px;
      border-color: #e7e7e8 transparent transparent transparent; }
  .block-form form {
    display: none;
    padding: 15px; }
    .block-form form input, .block-form form textarea {
      border: solid 1px #dfdfe0;
      padding: 10px;
      width: 100%;
      font-size: 11px;
      margin-bottom: 10px;
      /* Firefox 19+ */
      /* Firefox 18- */ }
      .block-form form input::-webkit-input-placeholder, .block-form form textarea::-webkit-input-placeholder {
        color: #cfcccb;
        text-transform: uppercase; }
      .block-form form input::-moz-placeholder, .block-form form textarea::-moz-placeholder {
        color: #cfcccb;
        text-transform: uppercase; }
      .block-form form input:-moz-placeholder, .block-form form textarea:-moz-placeholder {
        color: #cfcccb;
        text-transform: uppercase; }
      .block-form form input:-ms-input-placeholder, .block-form form textarea:-ms-input-placeholder {
        color: #cfcccb;
        text-transform: uppercase; }
  @media only screen and (max-width: 768px) {
    .block-form {
      width: 190px;
      left: 20px; }
      .block-form .header-block {
        padding: 10px 10px; }
        .block-form .header-block:after {
          border-width: 40px 95px 0 95px; }
        .block-form .header-block:before {
          border-width: 60px 95px 0 95px; }
        .block-form .header-block h4 {
          font-size: 14px; } }

.btn-submit {
  cursor: pointer;
  font-size: 11px;
  margin-right: 8px;
  background-color: #b2d234;
  color: white;
  text-transform: uppercase;
  float: right;
  border: none;
  outline: none;
  height: 30px;
  position: relative; }
  .btn-submit:after {
    position: absolute;
    content: "";
    right: -8px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 8px;
    border-color: transparent transparent transparent #b2d234; }

.arrow-button {
  line-height: 50px;
  color: white;
  background-color: #00aeef;
  position: relative;
  height: 50px;
  display: inline-block;
  text-decoration: none;
  padding: 0 15px;
  font-size: 18px; }
  .arrow-button:after {
    content: "";
    position: absolute;
    right: -15px;
    top: 0;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 15px;
    border-color: transparent transparent transparent #00afef; }

.font-lato, .block-form form input, .block-form form textarea {
  font-family: 'Lato', helvetica, sans-serif;
  font-weight: normal;
  font-style: normal; }

.font-gotham-bold, .top-header nav ul li a:hover, .slider .text-slide h2, .btn-submit, .arrow-button, .wrap-description .title, .bottom-graphical-nav h3 {
  font-family: 'Gotham', helvetica, sans-serif;
  font-weight: bold;
  font-style: normal; }

.font-gotham-book, .slider .text-slide h2 span, .form-sign-in input, .wrap-description .sub-title {
  font-family: 'Gotham Book', helvetica, sans-serif;
  font-weight: normal;
  font-style: normal; }

.font-gotham-book-italic, .wrap-description .text-desctiption {
  font-family: 'Gotham Book', helvetica, sans-serif;
  font-weight: normal;
  font-style: italic; }

.font-gotham-medium-italic, .top-header nav .sub-menu li a, .top-header nav .sub-menu li a:hover, .slider .text-slide p, .block-form .header-block h4 span {
  font-family: 'Gotham', helvetica, sans-serif;
  font-weight: 500;
  font-style: italic; }

.font-gotham-medium {
  font-family: 'Gotham', helvetica, sans-serif;
  font-weight: 500;
  font-style: normal; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Gotham Book', helvetica, sans-serif;
  font-size: 16px; }

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, checkbox, input, textarea {
  padding: 0;
  margin: 0;
  list-style: none; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.container {
  width: 100%;
  margin: 0 auto; }
  @media only screen and (min-width: 1200px) {
    .container {
      width: 1140px; } }
  @media only screen and (max-width: 1200px) {
    .container {
      width: 970px; } }
  @media only screen and (max-width: 992px) {
    .container {
      width: 750px; } }
  @media only screen and (max-width: 768px) {
    .container {
      width: 100%;
      padding: 0 5px; } }

.social-bar {
  position: fixed;
  z-index: 2;
  right: 0px;
  top: 150px;
  background-color: #b2d234;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15); }
  .social-bar ul {
    padding: 5px 0; }
  .social-bar .twitter-link, .social-bar .facebook-link, .social-bar .youtube-link {
    width: 50px;
    height: 40px;
    display: block; }
  .social-bar .twitter-link {
    background: url("../img/icon-tritter.png") no-repeat 50% 50%; }
  .social-bar .facebook-link {
    background: url("../img/icon-facebook.png") no-repeat 50% 50%; }
  .social-bar .youtube-link {
    background: url("../img/icon-youtube.png") no-repeat 50% 50%; }

.description-product {
  background: url("../img/bg-smart.jpg");
  background-size: cover;
  padding: 60px 0; }

.compose-img {
  text-align: center;
  position: relative; }
  .compose-img img {
    max-width: 80%;
    height: auto; }

.wrap-description {
  color: #004c9a;
  padding-right: 150px; }
  .wrap-description .title {
    font-size: 36px; }
  .wrap-description .sub-title {
    font-size: 36px;
    margin-bottom: 60px; }
  .wrap-description .text-desctiption {
    font-size: 21px;
    margin-bottom: 60px; }
  @media only screen and (max-width: 992px) {
    .wrap-description {
      padding-right: 40px; }
      .wrap-description .title, .wrap-description .sub-title {
        font-size: 24px; }
      .wrap-description .text-desctiption {
        font-size: 14px;
        margin-bottom: 40px; }
      .wrap-description .sub-title {
        margin-bottom: 40px; } }
  @media only screen and (max-width: 768px) {
    .wrap-description {
      padding-left: 40px; }
      .wrap-description .text-desctiption {
        font-size: 14px;
        margin-bottom: 30px; }
      .wrap-description .sub-title {
        margin-bottom: 25px; }
      .wrap-description .arrow-button {
        font-size: 11px;
        height: 30px;
        line-height: 30px; }
        .wrap-description .arrow-button:after {
          border-width: 15px 0 15px 15px; } }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.bottom-graphical-nav {
  overflow: hidden; }
  .bottom-graphical-nav .col-1-4 {
    padding-top: 10px;
    padding-bottom: 10px; }
  .bottom-graphical-nav a {
    position: relative;
    height: 390px;
    width: 100%;
    display: block;
    text-decoration: none; }
  .bottom-graphical-nav h3 {
    font-size: 24px;
    color: white;
    background-color: #b2d234;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 55px;
    width: 100%; }
  .bottom-graphical-nav .link-products {
    background: url("../img/graphical-nav/469460902_BW.jpg") 50% 50% no-repeat;
    background-size: cover; }
    .bottom-graphical-nav .link-products:hover {
      background: url("../img/graphical-nav/469460902.jpg") 50% 50% no-repeat;
      background-size: cover; }
  .bottom-graphical-nav .link-resources {
    background: url("../img/graphical-nav/503207881_BW.jpg") 50% 50% no-repeat;
    background-size: cover; }
    .bottom-graphical-nav .link-resources:hover {
      background: url("../img/graphical-nav/503207881.jpg") 50% 50% no-repeat;
      background-size: cover; }
  .bottom-graphical-nav .link-faq {
    background: url("../img/graphical-nav/515157804_BW.jpg") 50% 50% no-repeat;
    background-size: cover; }
    .bottom-graphical-nav .link-faq:hover {
      background: url("../img/graphical-nav/515157804.jpg") 50% 50% no-repeat;
      background-size: cover; }
  .bottom-graphical-nav .link-why-myohealth {
    background: url("../img/graphical-nav/519159798_BW.jpg") 50% 50% no-repeat;
    background-size: cover; }
    .bottom-graphical-nav .link-why-myohealth:hover {
      background: url("../img/graphical-nav/519159798_BW.jpg") 50% 50% no-repeat;
      background-size: cover; }
  @media only screen and (max-width: 992px) {
    .bottom-graphical-nav a {
      height: 240px; }
    .bottom-graphical-nav h3 {
      font-size: 16px;
      padding: 6px;
      bottom: 30px; } }
  @media only screen and (max-width: 768px) {
    .bottom-graphical-nav h3 {
      font-size: 14px; } }

footer {
  overflow: hidden;
  font-size: 12px;
  color: #afaaa8;
  padding: 30px; }
  footer .copyright {
    float: left; }
  footer .footer-link {
    color: #afaaa8;
    float: right;
    text-decoration: none;
    text-transform: uppercase; }
  @media only screen and (max-width: 768px) {
    footer {
      text-align: center; }
      footer .copyright, footer .footer-link {
        float: none;
        display: block; }
      footer .copyright {
        margin-bottom: 15px; } }

/*# sourceMappingURL=main.css.map */
